<!DOCTYPE html>
<html>
  <head>
    <title>Saasapp</title>
    <link href="//fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container-fluid">
          <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="sr-only">Toggle Navigation</span>
            </button>
            <a class="navbar-brand" href="/"><i class="fa fa-group"></i>DevMatch</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
              <li><a class="nav-link active" href="/about">About</a></li>
          </ul>
        </div>
      </div>
    </nav>

    
    <%= yield %>
    
  </body>
</html>
